@model IEnumerable<PDE.Models.Dto.MiembroDto>

@{
   ViewData["Title"] = "Miembros";
}

<h1 class="mt-4"></h1>

<div class="card mb-4">
    <div class="card-header" style="background-color:#25a04d">
        <div class="row text-white">
            <div class="col-md-11 ">
                <i class="fas fa-table me-1"></i>
                Miembros
            </div>
            <div class="col-md-1 float-sm-end">
                <a asp-action="Create" alt="Agregar Miembro" ><i class="fas fa-plus me-lg-1" style="color:white"></i></a>
            </div>
        </div>       
    </div>
    <div class="card-body">
        <table id="dataTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Cedula</th>
                    <th>Celular</th>
                    <th>Cargo</th>
                    <th>Supervisor</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Cedula</th>
                    <th>Celular</th>
                    <th>Cargo</th>
                    <th>Supervisor</th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Nombres
            </td>
            <td>
                @item.Apellidos
            </td>
            <td>
                @item.Cedula
            </td>
            <td>
                @item.Celular
            </td>
            <td>
                @item.CargoTerritorial.Cargo.Descripcion
            </td>
            <td>
                @(item.Supervisor.Nombres +" "+ item.Supervisor.Apellidos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pencil"></i></a> 
            </td>
        </tr>
}
            </tbody>
        </table>
    </div>
</div>